/* !!!IMPORTANT fix error: ResizeObserver loop completed with undelivered notifications */
iframe#webpack-dev-server-client-overlay{
  display:none!important
}


/* width */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

/* Track */
/* ::-webkit-scrollbar-track:horizontal  {
  background: #f1f1f1; 
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292; 
}


.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 85%;
}

.formWrapper img{
  width: 350px;
  margin-bottom: 25px;
}

footer{
  position: fixed !important;
  bottom: 0;
}

footer a {
  color: #5271ff;
}

footer h4{
  text-align: center !important;
}

input:focus::placeholder {
  transition: all 0.2s ease-in-out;
  color: transparent;
} 

.inputGroup {
  display: flex;
  flex-direction: column;
}

.PasteIDRoomLabel{
  margin-bottom: 20px;
}

.inputBox{
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  background: #eee;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn, .leaveBtn{
  background: #5271ff;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover , .leaveBtn:hover{
  background-color: #004aad;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createInfo a{
  color: #5271ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.createInfo a:hover{
  color: #004aad;
}



/*Editor Page Style*/

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
}

.username{
  margin-top: 5px;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  
}

.logoEditor{
  height: 80px;
}

.leaveBtn{
  width: 100%;
  margin-top: 10px;
}

.shareBtn:hover{
  background: #9b9b9b;
}

.editorWrap{
  max-height: 100vh;
  overflow: hidden;
}

.editorContent {
  display: flex;
  max-width: 100%;
}

.editorSpace{
  position: relative;
  background-color: #282a36;
}

/* For editor v1 */
/* .CodeMirror {
  min-height: 94vh;
  max-width: 120vh;
  font-size: 16px;
  box-sizing: border-box;
} */

/* For editor v2 */
.monaco-editor{
  min-height: 94vh;
  max-width: 120vh;
  font-size: 16px;
  box-sizing: border-box;
}

.console-container{
  background-color: #282a36;
  /* overflow-y: scroll; */
}

.editorSidebar{
  display: flex;
  border-bottom: 1px solid #424242;
  overflow-x: hidden;
}
.console-container{
  background-color: #1c1e29;
  /* max-height: 750px !important; */
}

.console-container .console-box{
  height: 74.2vh;
  position: relative;
  overflow-y: auto;
  background-color: #282a36;
  /* background-color: red; */
  max-height: 74.2vh;
  transition: transform 0.5s ease;
}

.console-container .consoleTaskbar{
  position: relative;
  display: flex;
  background: #1c1e29;
  border-bottom: 1px solid #424242;
  color: #eee;
  height: 35px;
  width: 100%;
  align-items: center;
}



/* Tab Styles */
.tabBtn{
  display: flex;
  height: 19px;
  font-size: 14px;
  border: 1px solid #424242;
  background: #1c1e29;
  border-radius: 0px ;
  color: #fff;
  align-items: center;
  font-weight: normal;
  overflow: hidden;
}

.tabBtn img{
  width: 20px;
  margin-right: 8px;
}

.tabBtn .tabTitle{
  padding-right: 15px;
}

.closeTabBtn {
  height: 10px;
  width: 10px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  display: none;
  margin-bottom: 3px;
  margin-left: 20px;
}

.tabBtn:hover{
  background-color: #2d2f38;
}

.tabBtn:hover .closeTabBtn{
  display: inline-block;
}

.closeTabBtn:hover{
  padding: 3px 7px 7px 5px;
  background: #5271ff;
}

.tabContainer{
  display: flex;
  overflow-x: hidden;
}

.tabContainer .active{
  border-top: 3px solid #004aad;
  background-color: #282a36;
}

.createTabBtn{
  background: none;
  color: white;
  height: 100%;
}

.createTabBtn:hover{
  background-color: #282a36;
}

.tabMenu{
  top: 40px !important;
  transform-origin: top left !important;
}


/*OUTPUT SPACE*/
.editorContent .separator{
  background-color: #39464e;
  position: relative;
  cursor: col-resize;
  width: 3px;
}
.outputSpace{
  position: relative;
  border: 3px solid #282a36;
  background-color: #282a36;
  max-height: 100%;
}

.outputTaskbar{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background: #1c1e29;
  border-bottom: 1px solid #424242;
  color: #eee;
  height: 35px;
  width: 100%;
  align-items: center;
  /* margin-top: 5px; */
}

.consoleTitle{
  text-align: center;
  width: 100%;
  padding-left: 30px;
}

.outputTitle {
  text-align: center;
  user-select: none;
}

.rightIcon{
  /* margin-left: 25%; */
  display: flex;
  gap: 5px;
  justify-content: right;
  padding-right: 10px;
}

.outputIcon{
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.outputIcon:hover{
  color: #9b9b9b;
}

.inactiveicon{
  color: #9b9b9b;
  pointer-events: none;
}

.container-monitor{
  height: 100%;
  background-color: white;
}

.outputMonitor iframe{
  border: none;
  height: 90vh;
  user-select: none;
  max-height: 80%;
}

.separator-output{
  background-color: #39464e;
  position: relative;
  cursor: row-resize;
  height: 3px;
}


.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}


.gutter {
  position: relative;
  background-color: #eee;
  margin-left: 1px ;
  margin-right: 1px;
}

.gutter.gutter-vertical {
  background-color: #39464e;
  cursor: row-resize;
  transition: transform 0.3s ease;
}

.gutter.gutter-horizontal {
  background-color: #39464e;
  cursor: col-resize;
  transition: transform 0.3s ease;
}

.gutter.gutter-vertical:hover{
  background-color: #5271ff;
}

.gutter.gutter-horizontal:hover{
  background-color: #5271ff;
}
