/* Max z-index of monaco editor is 11*/
.chatbox-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 94vh;
    max-width: 42%;
    top: 6vh;
    right: 0;
    transition: z-index 0.3s ease-in-out;
}

.slide-box {
    color: white;
    position: absolute;
    top: 0;
    right: -95vh;
    /* Start off-screen */
    /* width: 83vh; */
    width: 99%;
    height: 100%;
    /* max-width: 83vh; */
    background-color: #1c1e29;
    transition: right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #282a36;
}

.slide-box.open {
    right: 0;
}

.chatbox-taskbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: #1c1e29;
    border-bottom: 1px solid #424242;
    color: #eee;
    height: 35px;
    width: 100%;
    align-items: center;
    /* margin-top: 5px; */
}

.chatBox-icon {
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.chatBox-icon:hover {
    color: #9b9b9b;
}

.chatBox-title {
    text-align: center;
    user-select: none;
}

#newChat-icon {
    padding-left: 10px;
}

/* Main box */
.chatbox-bot {
    height: 100%;
    width: 100%;
    padding-left: 2px;
}

.chat-box #settings-icon {
    padding-left: 0 !important;
    transition: transform 0.5s ease-in-out;
}

.answers-box-chats {
    height: 80%;
    overflow-x: scroll;
    /* overflow-y: scroll; */

    /* padding: 2rem; */
}

.answers-box-chats .answer-wrap {
    width: 98.5%;
    /* border: 1px solid white; */
    padding-left: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
}

.answers-box-chats .role {
    display: flex;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgb(71 85 105);
    font-size: 30px;
    align-items: center;
    height: 100%;
}

.answers-box-chats .answer {
    line-height: 2;
    padding-right: 1rem;
    padding-left: 1.5rem;
    max-width: 90%;
    overflow-x: auto;
    /* overflow-y:scroll; */
}

.answers-box-chats .answer pre {
    margin: 0;
}

.answers-box-chats img {
    align-items: center;
    /* padding-top: 5px; */
    justify-items: center;
}

.answers-box-chats .assistant {
    background-color: rgb(30 41 59);
}

.answers-box {
    height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers-box .welcome-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.answers-box .welcome-img {
    text-align: center;
}

.answers-box .welcome-text {
    font-size: xx-large;
    font-weight: bold;
}

.answers-box .example-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-wrap .example {
    font-size: medium;
    font-weight: 300;
    margin-top: .5rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    width: 38vh;
    min-height: 5vh;
}

.example-wrap .example:hover {
    background-color: #424242;
}

.response__content-box {
    border-radius: var(4px);
    background-color: var(#343541);
    max-width: 100%;
    /* overflow: hidden; */
}

.response__text {
    padding: var(0.5rem);
}

.code-pre {
    background-color: var(#343541);
    border-radius: var(4px);
    scrollbar-width: thin;
    overflow-x: auto;
}

.questions-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.questions-box .question-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

.question-wrap .question {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    position: relative;
    width: 90%;
}

.questions-box .question-input {
    color: white;
    font-size: 16px;
    width: 100%;
    height: 3vh;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-right: 3rem;
    background-color: rgb(30 41 59);
}

.questions-box .question-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.questions-box small {
    margin-top: 0.2rem;
    color: rgb(100 116 139);
}

.disabled {
    pointer-events: none;
}

/* Light mode */
.light-mode .chatbox-bot {
    background-color: #eee !important;
    color: rgb(30 41 59) !important;
}

.light-mode .chatbox-bot input {
    background-color: #eee !important;
    color: rgb(30 41 59) !important;
}

.light-mode .chatbox-bot .example {
    border: 1px solid rgb(30 41 59) !important;
    color: #1c1e29 !important;
}

.light-mode .chatbox-bot .example:hover {
    background-color: #c2c2c2 !important;
    color: rgb(30 41 59) !important;
}

.light-mode .chatbox-bot .answer-wrap {
    background-color: #eee !important;
}

.light-mode .chatbox-bot .assistant {
    background-color: #c2c2c2 !important;
}

.light-mode .code-pre{
    color: white !important;
}

.light-mode .question-wrap .question{
    color: #1c1e29 !important;
}

.light-mode .question-wrap .question textarea{
    background-color: #eee;
}

/* setting-box */
.setting-box {
    position: absolute;
    z-index: 1;
    width: 55vh;
    max-height: 35vh;
    background-color: #3c3f4e;
    right: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.2s ease-in-out;
}

.setting-box.show {
    display: block;
    opacity: 1;
    max-height: 35vh;
    /* You can adjust the max-height or other properties for the desired effect */
}

.setting-box.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.setting-title {
    text-align: center;
}

.setting-options-container {
    position: relative;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.setting-option {
    display: flex;
    height: 10vh;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.setting-option label {
    font-size: medium;
    font-weight: 500;
}

.setting-option-custom {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.setting-option-custom .custom-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 1px solid white; */
    /* padding: 0.5rem 1.5rem; */
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 50%;
}

.custom-top .top-title {
    display: flex;
    font-size: medium;
    font-weight: 500;
    gap: .5rem;
}

.custom-top .top-title .title-icon {
    font-size: large;
    color: #b08d00;
    align-items: center;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.custom-top .top-title .title-icon:hover {
    color: #ffcc00;
    cursor: pointer;
}

.setting-option-custom .custom-bottom {
    display: flex;
    justify-content: center;
    transition: display 0.3s ease-out;
}

.custom-bottom .api-box {
    display: flex;
    width: 100%;
    gap: 0.8rem;
    align-items: center;
}

.api-box .api-title {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

.api-box .api-key {
    max-width: 60%;
    overflow-y: auto;
}

.api-box #icon-change-api {
    font-size: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.api-box #icon-change-api:hover {
    color: #999999;
    padding-bottom: 10px;
}

.custom-bottom .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.custom-bottom .input-wrap {
    align-items: center;
}

.custom-bottom .input-api {
    width: 85%;
    height: 35px;
    border-radius: 2px;
    padding-right: 2rem;
    padding-left: 0.5rem;
    border: none;
    outline: none;
}

.input-wrap .api-icon {
    font-size: 16px;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 1.5rem;
    color: #1c1e29;
}

.input-wrap #submit-api-icon {
    cursor: pointer;
}

.input-box .link-api {
    position: relative;
    float: right;
    text-align: center;
    margin-top: 0.3rem;
}

.input-box .link-api a {
    color: #2950ff;
    cursor: pointer;
}

.input-box .link-api a:hover {
    color: #5271ff;
    cursor: pointer;
}

.input-box .error-input {
    font-size: small;
    color: #ff3333;
}

.input-box .error-input a {
    /* text-decoration: none; */
    color: #c2c2c2;
}



.rotate-180 {
    transform: rotate(180deg);
}